.FixedHeightContainer
{
  float:left;
  height: 250px;
  width:250px;
  padding:3px;
    background:#f00;
}
.Content
{

}

.dataInfo
{
  height: 50px;
  align-content: center;
}.node {
  stroke: #fff;
  stroke-width: 1.5px;
}


.node .selected {
  stroke: red;
}



.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}
