        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>


        <li>
            <a href="#/dashboard"><i class="glyphicon glyphicon-upload"></i><span data-i18n="数据上传"></span>
            </a>
            <ul>
    <a class="file-input-wrapper btn btn-default "><span>Choose File</span><input style="left: -155px; top: 13.5667px;" title="Choose File" data-ui-file-upload="" type="file"></a>
            </ul>

        </li>
        <li>
            <a href="#/ui"><i class="glyphicon glyphicon-list-alt"></i><span data-i18n="特征选择"></span>
            </a>
            <ul>
                <span class="ui-select">
                    <select>
                        <option value="Mustard">Mustard</option>
                        <option value="Ketchup">Ketchup</option>
                        <option value="Barbecue">Barbecue</option>
                    </select>
                </span>
                    
                <div style="overflow: hidden; width: auto; height: 240px;" class="panel-body ui-map " data-slim-scroll="" data-scroll-height="240px">
                    <label class="ui-checkbox">
                        <input name="checkbox1" value="option1" type="checkbox">
                        <span>特征 1</span>
                    </label>
                    <li class="divider"></li>
                    <label class="ui-checkbox">
                        <input name="checkbox1" value="option1" type="checkbox">
                        <span>特征 2</span>
                    </label>
                    <li class="divider"></li>

                    <label class="ui-checkbox">
                        <input name="checkbox1" value="option1" type="checkbox">
                        <span>特征 3</span>
                    </label>


                    <li class="divider"></li>
                    <label class="ui-checkbox">
                        <input name="checkbox1" value="option1" type="checkbox">
                        <span>特征 4</span>
                    </label>

                    <li class="divider"></li>
                    <label class="ui-checkbox">
                        <input name="checkbox1" value="option1" type="checkbox">
                        <span>特征 2</span>
                    </label>


                    <li class="divider"></li>

                    <label class="ui-checkbox">
                        <input name="checkbox1" value="option1" type="checkbox">
                        <span>特征 3</span>
                    </label>


                    <li class="divider"></li>
                    <label class="ui-checkbox">
                        <input name="checkbox1" value="option1" type="checkbox">
                        <span>特征 4</span>
                    </label>
                    <li class="divider"></li>
                    <label class="ui-checkbox">
                        <input name="checkbox1" value="option1" type="checkbox">
                        <span>特征 2</span>
                    </label>


                    <li class="divider"></li>

                    <label class="ui-checkbox">
                        <input name="checkbox1" value="option1" type="checkbox">
                        <span>特征 3</span>
                    </label>


                    <li class="divider"></li>
                    <label class="ui-checkbox">
                        <input name="checkbox1" value="option1" type="checkbox">
                        <span>特征 4</span>
                    </label>

                </div>
            </ul>
        </li>
        <li>
            <a href="#/pages"><i class="glyphicon glyphicon-dashboard"></i><span data-i18n="图谱映射"></span></a>
            <ul>
               <li>
                <a>解析度</a>
                <input value="5" data="value: '5'" style="display: none;" ui-range-slider="" data-slider-min="2" data-slider-max="200" data-slider-step="10" data-slider-orientation="horizontal" data-slider-value="100" data-slider-selection="before" data-slider-tooltip="show" data-slider-handle="round" type="text">
                </li>
                <li>
                <a>层次值</a>
                <input value="5" data="value: '5'" style="display: none;" ui-range-slider="" data-slider-min="2" data-slider-max="100" data-slider-step="1" data-slider-orientation="horizontal" data-slider-value="50" data-slider-selection="before" data-slider-tooltip="show" data-slider-handle="round" type="text">
                </li>

                <li class="divider"></li>
                <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-default">聚沙映射</button>


                <li><div value="80" class="progressbar-sm progress-rounded progress-striped active progress ng-isolate-scope">
                      <div style="width: 55%;" class="progress-bar" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="55%" ng-transclude=""></div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/table"><i class="glyphicon glyphicon-eye-open"></i><span data-i18n="价值探索"></span></a>
            <ul>
                <div style="overflow: hidden; width: auto; height: 240px;" class="panel-body ui-map " data-slim-scroll="" data-scroll-height="240px">
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>
                    <li><label class="ui-radio"><input name="radio1" value="option1" type="radio"><span>特征 1</span></label></li>
                    <li class="divider"></li>                                        
                </div>
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Vertical Bar Chart</h3>
                </div>
                <div class="panel-body">
                   </div>
                </div>
            </div>

            </ul>
        </li>
        
    </ul>
</div>