<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

   <section class="panel panel-default">      
        <div class="panel-body">

            <div class="well well-lg">Look, I'm in a large well!</div>
            <div class="well well-lg">Look, I'm in a large well!</div>
            <div class="well well-lg">Look, I'm in a large well!</div>
            <div class="well well-lg">Look, I'm in a large well!</div>
            <div class="well well-lg">Look, I'm in a large well!</div>
            <div class="well well-lg">Look, I'm in a large well!</div>
        </div>
    </section>

</div>
  