<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>

<head>
  <title>Example for the d3.js export from mapper</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{url_for('static',filename ='js/featureHandler.js')}}" type="text/javascript" charset="utf-8"></script>
  <script src="{{url_for('static',filename ='js/search.js')}}" type="text/javascript" charset="utf-8"></script>
  <script src="{{url_for('static',filename = 'js/barchart.js')}}" type="text/javascript" charset="utf-8"></script>
  <link href="{{url_for('static',filename = 'css/bar.css')}}" rel="stylesheet" type="text/css">
  <!-- Bootstrap -->
  <link href="{{url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
  <link href="{{url_for('static',filename = 'css/layout.css')}}" rel="stylesheet" media="screen">

  <link href="{{url_for('static',filename = 'css/simple-sidebar.css')}}" rel="stylesheet">


  <script>
  var options = [];

$( '.dropdown-menu a' ).on( 'click', function( event ) {

   var $target = $( event.currentTarget ),
       val = $target.attr( 'data-value' ),
       $inp = $target.find( 'input' ),
       idx;

   if ( ( idx = options.indexOf( val ) ) > -1 ) {
      options.splice( idx, 1 );
      setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
   } else {
      options.push( val );
      setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
   }

   $( event.target ).blur();

   console.log( options );
   return false;
});
  $(document).ready(function() {
       //$(function() { $('#divContainer').draggable(); });
       //$(function() { $("#divResize").draggable().resizable(); });
  });
  </script>
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">


            <li>
            <a herf='#'>上传文件</a>
            </li>
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <fieldset>
                    <input  name="file" type="file" value="Choose..">
                </fieldset>

            </form>
            <button class="btn" id='fileupload'>Upload!</button>

              <li>
            <a herf='#'>选择索引列</a>
            </li>
            <select id='index' >
              <option value='None' checked=true >使用数字序列</option>
            </select>



            <li>
              <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                      <div class="button-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>
                        <span class="caret"></span>选择需要计算的列</button>
                        <ul class="dropdown-menu" id="featuresCheck" ></ul>
                      </div>
                    </div>
                </div>
              </div>
            </li>

            </form>

            <li>
            <a herf='#'>选择过滤器以及度量类型</a>
            </li>
              <select id='filters' style='width:100px;height:20px'>
                <option value="eccentricity">Eccentricity (exponent=1)</option>
                <option value="Gauss_density" >Gauss Density (sigma=1)</option>
                <option value="kNN_distance">kNN Distance (k=2)</option>
                <option value="distance_to_measure">Distance to measure (k=2)</option>
                <option value="graph_Laplacian">Graph Laplacian (eps=1,k=2)</option>
                <option value="dm_eigenvector">Distance Matrix Eigenvector</option>
                <option value="zero_filter">Zero Filter</option>
              </select>

              <select id='metrics' style='width:100px'>
                <option value="euclidean">Euclidean</option>
                <option value="minkowski" >Minkowski</option>
                <option value="cityblock">Cityblock</option>
                <option value="seuclidean">Seuclidean</option>
                <option value="sqeuclidean">Sqeuclidean</option>
                <option value="cosine">Cosine</option>
                <option value="correlation">Correlation</option>
              </select>

            <li>
            <a herf='#'>输入参数</a>
            </li>
            <a>Interval: </a>
            <input type='text' name='params' id='interval' value='7' maxlength="10" style='width: 60px; height:25px' />
            <a>overlap:</a>
            <input type='text' name='params' id='overlap' value = '30' maxlength="4" style='width: 60px;height:25px'/>

            <li>
            <a herf='#'>选择阀门类型</a>
            </li>
              <select id='cutoff'>
                <option value="first_gap">first_gap</option>
                <option value="biggest_gap" >biggest_gap</option>
                <option value="ScaleG">Scale graph algorithm</option>
                <option value="variable_exp_gap">variable_exp_gap</option>
                <option value="variable_exp_gap2">variable_exp_gap2</option>
              </select>






            <br>
            <button class="btn" id="paramsGenerate">Start Clustering!</button>
            <br/>
            <li>
            <a herf='#'>搜索数据</a>
            </li>

            <li>
              <input type='text' name='search' id='searchbox' style='width: 200px; height:25px'/>
              <button class="btn" id='searchsubmit'>Search!</button>
              <button class="btn" id='reverse' style="display:none">Reverse</button>
            </li>
            <li>
            <a herf='#'>选择钻取特征</a>
            </li>

            <div style="max-height: 466px;overflow-y:scroll" class=options id="radiocheck"></div>
            <a>No. Bins: </a>
            <input type='text' id='bins' value='20' maxlength="10" style='width: 60px; height:25px' />
            <button class="btn" id="recolor" style="height:26px;display:none">Re Color!</button>


            <div id='barchart' class='container' style="width:230px; height:230px">

            </div>





            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div id='graph' class="background;col-lg-10">



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>





<div class="row" style="height:20px">
  <div class="span7">
  </div>
</div>

<div class='dataInfo'>
    <div id=members class="Content">
  </div>
</div>

<li>

  <div class="container" style="height: 700px">
    <div class="span2" style="height: 500px">

        <div >
          <ul id='explain' class="nav nav-list">

          </ul>
      </div>
    </div>



    </div>

 <script src="//d3js.org/d3.v3.min.js"></script>
  
  <script src="{{ url_for('static', filename = 'js/force_layout.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/params.js') }}"></script>

</body>

</html>
