<!DOCTYPE HTML PUBLIC >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>

<head>
  <title>Jusha科技</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <script src="{{ url_for('static', filename='js/resources/jquery-2.1.4.min.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{url_for('static',filename ='js/featureHandler.js')}}" type="text/javascript" charset="utf-8"></script>
  <script src="{{url_for('static',filename ='js/search.js')}}" type="text/javascript" charset="utf-8"></script>
  <script src="{{url_for('static',filename ='js/resources/jquery-ui.js')}}" type="text/javascript" charset="utf-8"></script>

  <script src="{{url_for('static',filename = 'js/barchart.js')}}" type="text/javascript" charset="utf-8"></script>
  <link href="{{url_for('static',filename = 'css/bar.css')}}" rel="stylesheet" type="text/css">

  <link href="{{url_for('static',filename = 'css/resources/jquery-ui.min.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static',filename = 'css/resources/jquery-ui.structure.min.css')}}" rel="stylesheet" type="text/css">

  <link href="{{url_for('static',filename = 'css/resources/jquery-ui.theme.min.css')}}" rel="stylesheet" type="text/css">

  <!-- Bootstrap -->
  <link href="{{url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
  <link href="{{url_for('static',filename = 'css/layout.css')}}" rel="stylesheet" media="screen">

  <link href="{{url_for('static',filename = 'css/simple-sidebar.css')}}" rel="stylesheet">


</head>

<body>
  <div id='graph'>

  </div>


  <!-- ETL draggable container -->



  <div id=draggableTimemachine class="ui-widget ui-widget-content ui-corner-all portlet" style="position: fixed; top:2%; left:2%; width: 180px; height: auto; ">

    <div class="portlet-header"></div>
    <li>


      <div class="portlet-content">
        <ul id=SelectionA>
          <a id='NumPtsA'></a>
          <button id="addA" value=0 data-selected=[] class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
            <span class="ui-button-text">Select</span>
        </ul>

        <ul id=SelectionB>
          <a id='NumPtsB'></a>
          <button id="addB" value=0 data-selected=[] class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
            <span class="ui-button-text">Select</span>
        </ul>

    </li>

    <li>


    </li>
    <a id='export2csv' download="Selection.csv" style="display:none">Export</a>

    <div id='selection' data-tmp="I hold temp selection"></div>
    <span class="ui-button" id="explain" style="align:center;height:26px;display:none">Explain!</span>
    <div style="max-height: 130px;overflow-y:scroll" id="explainFlists"></div>
    <span class="ui-button" id="saveimg" style='display:none'>Save Me!</span>

    <div id=timemachine>

      I am a time machine
    </div>
    </div>
  </div>







  <!-- Controlls draggable Tab container -->
  <div id=controlls role="tablist" class="ui-accordion ui-widget ui-helper-reset ui-widget-content ui-corner-all" style="position: fixed; top:2%; right:2%; width: 220px; height: auto;">
    <div id="accordion">

      <h4>ETL</h4>
      <div>
        <form id="upload-file" method="post" enctype="multipart/form-data">
          <fieldset>
            <input class="ui-widget" name="file" type="file" value="Choose..">
          </fieldset>
        </form>

        <button id="fileupload" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
          <span class="ui-button-text">Upload</span>
        </button>

        <hr>
        <select id="index" style="display: none;">
          <option value='None' checked=true>使用数字序列</option>
        </select>
        <span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all" tabindex="0" id="index-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="selectmenu-menu" aria-haspopup="true" style="width: 100px;" aria-activedescendant="ui-id-24"
        aria-labelledby="ui-id-24" aria-disabled="false">
        </span>

        <div style="max-height: 300px; width: 300px; overflow-y:scroll" id="featuresCheck">

          <table class="ui-widget" style='width:191px' id='featuresTable'>
            <tr>
              <th>标准化</th>
              <th>纳入计算</th>
              <th>特征名称</th>
            </tr>
          </table>
        </div>


      </div>
      <h4 tabindex="-1" aria-expanded="false" aria-selected="false" aria-controls="ui-id-4" id="ui-id-3" role="tab" class="ui-accordion-header ui-state-default ui-accordion-icons ui-corner-all">
        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Params</h4>
      <div aria-hidden="true" role="tabpanel" aria-labelledby="ui-id-3" id="ui-id-4" style="display: none" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">


        <div class="theme-group-content corner-bottom clearfix">


          <li class='ui-widget'>
            <a>Interval:
          <input type='text' name='params' id='interval' value='7' maxlength="10" style='width: 40px; height:18px; color:#f6931f; font-weight:bold;' />
          </a>
            <a>overlap:
          <input type='text' name='params' id='overlap' value='30' maxlength="4" style='width: 40px;height:18px; color:#f6931f; font-weight:bold;' />
          </a>
          </li>

          <li>
            <select id='metrics' style='width:78px'>
              <option value="euclidean">Euclidean</option>
              <option value="minkowski">Minkowski</option>
              <option value="cityblock">Cityblock</option>
              <option value="seuclidean">Seuclidean</option>
              <option value="sqeuclidean">Sqeuclidean</option>
              <option value="cosine">Cosine</option>
              <option value="correlation">Correlation</option>
            </select>
            <select id='cutoff' style='width:78px'>
              <option value="scale_graph">Scale Graph</option>
              <option value="first_gap">first_gap</option>
              <option value="biggest_gap">biggest_gap</option>
              <option value="variable_exp_gap">variable_exp_gap</option>
              <option value="variable_exp_gap2">variable_exp_gap2</option>
            </select>
          </li>
          <li id=scalegraph>
            <select id='weighting' style='width:78px'>
              <option value="linear">Linear</option>
              <option value="root">Root</option>
              <option value="inverse">Inverse</option>
              <option value="log">Log</option>
            </select>
            <a id='atag'>Exponent:</a>
            <input type='text' id='exponent' value='1.0' maxlength="10" style='width: 40px;height:18px; color:#f6931f; font-weight:bold;' />
        </div>
        </li>

      </div>

      <h4 tabindex="-1" aria-expanded="false" aria-selected="false" aria-controls="ui-id-4" id="paramsGenerate" role="tab" class="ui-accordion-header ui-state-default ui-accordion-icons ui-corner-all">
        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Drill</h4>
      <div aria-hidden="true" role="tabpanel" aria-labelledby="ui-id-3" id="ui-id-5" style="display: none" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">


        <li>

          <button id="Clustering" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
            <span class="ui-button-text">Clustering</span>
          </button>
          <a>Filter:</a>
          <a id='filters'></a>
        </li>



        <div style="max-height: 300px;overflow-y:scroll" class=options id="radiocheck"></div>


        <a>No. Bins:
            <input type='text' id='bins' value='20' maxlength="10" style='width: 40px; height:18px; color:#f6931f; font-weight:bold;' />
            </a>

        <button id="recolor" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
          <span class="ui-button-text">ColorIt</span>
        </button>

        <div id='barchart' class='container' style="width:210px; height:180px">

        </div>
      </div>
    </div>
  </div>


  <script>
    $(function() {
      $("[id^=draggable]").each(function() {
        $(this).draggable({});
      })
    });

    $('#radiocheck').sortable()

    $('#index').selectmenu()
    $('#metrics').selectmenu()
    $('#cutoff').selectmenu()
    $('#weighting').selectmenu()

    $(".portlet")
      .addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
      .find(".portlet-header")
      .addClass("ui-widget-header ui-corner-all")
      .prepend("<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>");

    $(".portlet-toggle").click(function() {
      var icon = $(this);
      icon.toggleClass("ui-icon-minusthick ui-icon-plusthick");
      icon.closest(".portlet").find(".portlet-content").toggle();
    });

    $(function() {
      $("#paramenu").menu({
        items: "> :not(.ui-widget-header)"
      });
    });


    $('#controlls').accordion({
      heightStyle: "content",
      header: 'h4'
    }).draggable()
  </script>
  <script src="{{ url_for('static', filename = 'js/resources/d3.v3.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename = 'js/force_layout.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename = 'js/resources/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/params.js') }}"></script>
</body>

</html>
